/* import font inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');



.heading {
  color: #a8a7a2f4;
  margin: 0;
  padding: 40px;
  display: flex;;
  text-align: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #efebeb;
}

.wrapper .card {
  width: 350px;
  height: auto;
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0,0, 0.05);
  transition: transform 0.3s ease;
}

.wrapper .card:hover {
  transform: translateY(-10px);
}

.card .cardImg {
  position: relative;
}

.card .cardImg img {
  width:100%;
  padding: 10px;
  border-radius: 22px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.card .cardImg .cardTag {
  position: absolute;
  left: 25px;
  top: 25px;
  color:#636060;
  border-radius: 30px;
  font-weight: 600;
  font-size: 0.75rem;
  padding: 5px 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background-color: antiquewhite;
}

.card .cardText {
  flex: 1;
  display: flex;
  /* flex-direction: row;
  align-items: center; */
  flex-direction: column;
  padding: 10px 25px 25px;
}

.card .cardContent .cardTitle {
  color:#636060;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 15px;
}

.card .cardContent .cardText {
  color:#636060;
  font-size: 0.95rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.card .cardContent .cardFooter {
  display: flex;
  align-items: center;
  padding-top: 5px;
  margin-top: auto;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0,0, 0.08);
}

.card .cardFooter .cardProfile {
  display: flex;
  align-items: center;
}
.card .cardProfile img {
  width: 50px;
  height: 40px;
  margin-right: 1px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0,0, 0.01);
}

.card .cardProfile .cardProfileInfo {
  padding: 10px 1px;
  display: flex;
  /* flex-direction: row;
  align-items: center; */
  flex-direction: column;
}

.card .cardProfile .cardProfileInfoName {
  font-size: 0.875;
  font-weight: 600;
  color:#636060;
}

.card .cardProfile .cardProfileInfoDesc {
  font-size: 0.9rem;
  color: #7a7a7a;;
}

.card .cardFooter .cardButton {
  color:antiquewhite;
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 0.81rem;
  text-decoration: none;
  margin-left: 50px;
  background: linear-gradient(135deg,#c9c8c6ee  0%, #cbc9c9 100%);
  box-shadow: 0 8px 15px rgba(161, 159, 159, 0.02);
  transition: all 0.3s ease;
}

.card .cardFooter .cardButton:hover {
  transform: translate(-3px);
  box-shadow: 0 8px 15px rgba(161, 159, 159, 0.03);
}

.cardSpan {
  flex-direction: row;
  display: flex;
  padding: 20px;
  margin: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  gap: 30px;
  
}

.landingBanner {
  height: 60vh;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.landingBanner::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

.landingBannerContent {
  position: relative;
  color:#cbc9c9;
  text-align: center;
  z-index: 1;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  display: flex;
  justify-content:space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}
/* nav ul{
  display: flex;
  align-items: center;
}
nav li{
  margin-left: 20px;
}
nav li a{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
} */
.btn{
  border-radius: 36px;
  background: #ffff;
}
form h2{
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40px;
}
form{
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
  border-radius: 10px;
  background: rgb(241, 239, 236);
}
input{
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
}
label{
  display: block;
  margin: 20px 0 10px;
}
button{
  margin-top: 30px;
  border-radius: 36px;
  background: #f0d1b5c2;
  border:0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}


.footerPage {
  position: fixed;
  bottom: 0; 
  left: 0;
  width: 100%;
  background-color: #33333380;
  color: white;
  padding: 1em;
  z-index: 1000; 
}

body {
 padding-top: 100px;
  padding-bottom: 60px; 
}

/* .mealContainer {
  background: white;
  padding: 20px;
  max-width: 350px;
  margin: 20px auto;
  border-radius: 8px;
} */

.mealContainer, .physicianContainer, .scheduleContainer, .medicationContainer, .medicalContainer {
  background: white;
  padding: 20px;
  flex: 0 0 350px; /* don't grow, don't shrink, stay 350px */
  border-radius: 8px;
}

.medicationContainer:hover, .medicalContainer:hover {
  transform: translateY(-5px);
}

.mealContainer:hover, .physicianContainer:hover, .scheduleContainer:hover {
  transform: translateY(-5px);
}

.mealName, .physicianName, .scheduleName, .medicationName, .medicalName {
  text-align: center;
  margin-bottom: 10px;
  color: rgba(131, 120, 110, 0.966);
}

.mealMeal, .mealInstructions, .physicianSpecialty, .physicianContact, .scheduleReason, .scheduleStatus, .medicationDose, .medicationNotes, .medicalAllergy, .medicalNotes {
  text-align: left;
  color: rgba(131, 120, 110, 0.966);
}

.mealH1, .physicianH1, .medicationH1, .scheduleH1, .medicationH1, .medicalH1 {
  color: rgba(131, 120, 110, 0.966);
}

.cardSpan {
  flex-wrap: wrap; 
}

.formSelect, .formTextArea {
  padding: 8px;
  border-radius: 5px;
  margin: 10px;
  width: 100%;
  color:rgba(131, 120, 110, 0.966);
}

.formH1 {
  color: rgba(131, 120, 110, 0.966);
}

.nav-link {
  color: rgba(131, 120, 110, 0.966);
  text-decoration: none;
  margin-right: 1rem;
  font-weight: 500;
  transition: 0.3s ease;
}

.nav-link:hover {
  color: rgba(218, 106, 54, 0.986);
}

.nav-link.active {
  border-bottom: 2px solid rgba(131, 120, 110, 0.966);
  color: rgba(218, 106, 54, 0.986);
}

.medicalIcon {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  /* flex-direction: left; */
  /* flex-wrap: wrap; */
}

.medicationIcon {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
 
}
.medicalName, .medicalAllergy {
  color: red;
}

.cardBtn {
  margin: 10px;
}